################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cinterpreter/.vs/cinterpreter/v16
/cinterpreter/cinterpreter/Debug
/cinterpreter/Debug
